{% extends 'base.html' %}

{% block content %}

<h2 class="form-title"> Computer-Aided Dispatch - About Us</h2>
<div class="form-container">
    <h3 class="aboutusheader">About Us</h3>
    <div class="aboutusbody">
        Illinois State Roleplay Computer-Aided Dispatch (ICAD) is a custom-built dispatch system designed specifically for Illinois State Roleplay.

        Coded by Hartley0426 and inspired by VortixRMS, ICAD was built from the ground up to provide a seamless, efficient, and realistic dispatch experience for our community.

        Unlike generic CAD systems, ICAD is hand-coded and tailored to fit the unique needs of Illinois State Roleplay. Best of all, it's completely free for our community.

        We’re committed to delivering a high-quality, reliable system that enhances roleplay and makes dispatching smooth and immersive.

        So? What do you think? We hope you enjoy using ICAD as much as we enjoyed creating it for you.
    </div>
    
</div>

{% endblock %}