{% extends "base.html" %}


{% block content %}

<h2 class="form-title">Records Management System - Make Arrest</h2>

<div class="form-container">
    <form method="POST" action="{{ url_for('make_personal_arrest', user_id=user.id) }}" class="user-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="input-field" disabled value="{{ username }}">

        <label for="arresting_officer">Arresting Officer:</label>
        <input type="text" id="arresting_officer" name="arresting_officer" required class="input-field">
        
        <label for="charges">Charges:</label>
        <input type="text" id="charges" name="charges" required class="input-field">

        <label for="sentence">Sentence:</label>
        <input type="text" id="sentence" name="sentence" required class="input-field">

        <label for="fine">Fine:</label>
        <input type="number" id="fine" name="fine" required class="input-field">

        <label for="narrative">Narrative:</label>
        <textarea name="narrative" id="narrative" class="input-field"></textarea>
        
        <button type="submit" class="submit-btn">Log Arrest</button>
    </form>
</div>

{% endblock %}