{% extends 'base.html' %}

{% block content %}

<h2 class="form-title">Sign Up</h2>
<div class="form-container">
    <form action="/signup" method="POST" class="user-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required class="input-field">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required class="input-field">
        </div>

        <div class="form-group">
            <label for="permission_keys">Permission Keys:</label>
            <input type="text" id="permission_keys" name="permission_keys" placeholder="Enter keys, separated by commas" required class="input-field">
        </div>
        

        <button type="submit" class="submit-btn">Sign Up</button>
    </form>
</div>

{% endblock %}
